


<%  @article.comments.each do |comment| %>
<p>
<%= "#{comment.user.username} says: #{comment.body}" %>
</p>

               <%= link_to 'Delete Comment',
                             article_comment_path(@article, comment),
                             method: :delete,
                             data: { confirm: 'Are you sure?' } %>
<% end %>
