<div class="form-group yield-container mt-3">
  <h5>Add A Comment</h5>
<%= form_for [ @article, @comment ] do |f| %>
<p>
<%= f.label "text" %>
<%= f.text_field :body, :required => true, :class => "form-control exampleFormControlInput1" %>
</p>
<%= f.submit :class => "btn btn-success mt-4 px-2"%>
<% end %>
</div>
