body {
  color:  #343a40;
  font-family: 'Noto Serif TC', serif;
}

.yield-container {
  border-top: 1px solid rgba(230, 230, 230, 1);
}

/* .thumb {
  max-width: 25%;
} */

img {
  max-width: 25%;
}

.feature {
  max-width: 100%;
}

a:hover {
text-decoration: none;
  color:  #343a40;
}
a:active {
text-decoration: none;
}

a {
  color:  #343a40;
}

h1, h2, h3, h4 {
  font-family: 'Playfair Display', serif;
}

.all-links {
  display: inline-block;
}

.strong {
  font-weight: bold;
}

.btn {
  display: inline;
}
